* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.header {
    margin: 20px;
    background-color: rgb(244, 241, 241);
}

.container {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.coluna {
    padding: 20px;
    background-color: #f9f2fd;
    margin: 10px;
}

.esquerda {
    width: 60%;
}

.direita {
    width: 40%;
}

.footer {
    margin: 20px;
    background-color: rgb(244, 241, 241);
}
